# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.pyi
*.pyz
*.pyw
*.pyz/
*.pyw/
*.egg-info/
dist/
build/
*.egg
*.whl
*.swp

# Virtual Environment
venv/
env/
ENV/
.venv/
.ENV/

# IDE
.vscode/
.idea/

# Miscellaneous
*.log
*.bak
*.tmp
*.tmp.*
*~
*.swp
.DS_Store
Thumbs.db
